<div class="row">
	<div class="span8">
		  <h3>Current Registrations</h3>
		  <%= render :partial => "current_registrations" %>
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Registrations"), new_registration_path, :class => 'btn btn-primary', :id => 'Create Registration' %>