<div class="row">
	<div class="span8">
	  <h2>Welcome to A &amp; M Karate Tournaments</h2>
	  <p>
	   This is the main page for  A &amp; M Karate Tournaments, hosted by the 
	    A &amp; M Karate School. 
	  </p>
		<p>
		  Upcoming Tournaments:
		  <% @tournaments = Tournament.active.alphabetical.paginate(:page => params[:page]).per_page(8) %>
		  <%= render :partial => "tournaments/current_tournaments" %>
		</p>
	</div>
	<div class="span4">
		<div class="well">
		  picture here
		</div>
	</div>
</div>