<div class="row">
	<div class="span12">
		  <h3>Active Dojos</h3>
		  <%= render :partial => "current_dojos" %>
	</div>
</div>

<% if current_user != nil && current_user.is_admin %>
  <%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Dojo"), new_dojo_path, :class => 'btn btn-primary', :id => 'Create Dojo' %>
<% end %>